body {
    --main-color: #2707f2;
    --main-color2: #482ef2;
    --main-color3: #5941f2;
    --main-color4: #227cf2;
    --main-color5: #7ef2e7;
  }

.intro-form {
    width: 60%;
    margin: 0 auto;
  }
  
  .form-contacto {
    border: 1px solid #000;
    width: 35%;
    margin: 0 auto;
    padding: 25px 0;
  }
  
  .form-contacto div {
    margin: 12px 0;
  }
  
  .form-contacto div label {
    padding-right: 10px;
  }
  
  #label-mail {
    padding-right: 26px;
  }
  
  .button-form {
    padding: 7px 12px;
  }
  
  #comentario {
    resize: none;
  }
  
  .botton-email {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 300px;
    text-align: center;
  }
    
  .imagen-mail img {
    object-fit: cover;
    width: 100%;
  }
  
  .texto-formulario {
    margin: auto;
  }
  
  .contenedor-formulario {
    margin-bottom: 5px;
  }
  .container-btn-unirse{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .button-cta {
    background-color: white;
    color: #2707f2;
    border: none;
    transition: all 0.3s ease;
  }
  
  
  .button-cta:hover {
    background-color: #2707f2;
    color: white;
  }
  
  .button-cta:focus {
    background-color: #2707f2;
  }
  
  .button-cta:active {
    transform: scale(0.9);
    background-color: #2707f2;
  }
  
  .button-cono {
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease;
  }
  
  .btn svg{
    vertical-align: initial;
    margin-right: 8px;
  }
    
  .button-cono:hover {
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
  }

@media all and (max-width: 768px) {
    .comunidad-descripciones {
      width: 90%;
    }
  
    .contenedor-formulario {
      margin-top: 10%;
    } 
}

@media all and (max-width: 580px) {
    .contenedor-formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .texto-formulario {
      width: 90%;
      order: 1;
    }
  
    .imagen-mail {
      order: 0;
    }
  }

  @media all and (max-width: 500px){
    .container-btn-unirse{
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    .container-btn-unirse a{
      width: 60%;
    }
}