.hero {
    margin-top: 0px !important;
    background-image: url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 0px !important;
    color: white;
  }
  
  
  .background-overlay {
    background: rgb(0, 122, 139);
    background: linear-gradient(
      90deg,
      rgba(0, 122, 139, 0.38977597875087533) 0%,
      rgba(54, 7, 242, 0.7539216370141807) 100%
    );
    padding: 130px;
}

.button-cta {
    background-color: white;
    color: #2707f2;
    border: none;
    transition: all 0.3s ease;
}
  
  
.button-cta:hover {
    background-color: #2707f2;
    color: white;
}
  
.button-cta:focus {
    background-color: #2707f2;
}
  
.button-cta:active {
    transform: scale(0.9);
    background-color: #2707f2;
}
  