.proySection {
    margin-bottom: 120px;
  }
  
  .proyecto1-texto, .proyecto2-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .proyectos-titulo, .proyecto2-titulo {
    margin: 20px auto 60px;
    margin-bottom: 30px;
  }
  