.comunidad-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .comunidad-descripciones {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
  }
  
  .comunidad-descripcion {
    margin-bottom: 25px;
  }
  
  .comunidad-titulo {
    margin: 20px auto 60px;
  }
  
  .comunidad-subtitulo {
    margin-bottom: 18px;
  }

  /* Responsive: Sección comunidad */

@media all and (max-width: 1200px) {
  .comunidad-descripcion p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 992px) {
  .comunidad-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comunidad-imagen {
    order: 0;
    margin-bottom: 10%;
    width: 65%;
  }

  .comunidad-descripciones {
    order: 1;
    width: 100%;
    text-align: justify;
  }

  .comunidad-descripcion p {
    font-size: 1rem;
  }

  .comunidad-subtitulo {
    text-align: center;
  }

  .comunidad-btn {
    margin-top: 5%;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .comunidad-descripciones {
    width: 90%;
  }

  .contenedor-formulario {
    margin-top: 10%;
  }
}