body {
  --main-color: #2707f2;
  --main-color2: #482ef2;
  --main-color3: #5941f2;
  --main-color4: #227cf2;
  --main-color5: #7ef2e7;
}

.navbar{
  background-color: #482ef2 !important;
  height: 125px;
}

section{
  padding: 10px auto;
}

.hero {
  margin-top: 0px !important;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-position: center;
  padding: 0px !important;
  color: white;
}


.background-overlay {
  background: rgb(0, 122, 139);
  background: linear-gradient(
    90deg,
    rgba(0, 122, 139, 0.38977597875087533) 0%,
    rgba(54, 7, 242, 0.7539216370141807) 100%
  );
  padding: 130px;
}

.button-cta {
  background-color: white;
  color: #2707f2;
  border: none;
  transition: all 0.3s ease;
}


.button-cta:hover {
  background-color: #2707f2;
  color: white;
}

.button-cta:focus {
  background-color: #2707f2;
}

.button-cta:active {
  transform: scale(0.9);
  background-color: #2707f2;
}

.button-cono {
  background-color: var(--main-color);
  color: white;
  transition: all 0.3s ease;
}

.btn svg{
  vertical-align: initial;
}


.button-cono:hover {
  background-color: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.proySection {
  margin-bottom: 120px;
}

.proyecto1-texto, .proyecto2-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyectos-titulo, .proyecto2-titulo {
  margin: 20px auto 60px;
  margin-bottom: 30px;
}

/* .comunidad-imagen {
  width: 500px;
  height: 550px;
} */

.comunidad-imagen img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.comunidad-descripciones {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.comunidad-descripcion {
  margin-bottom: 25px;
}

.comunidad-titulo {
  margin: 20px auto 60px;
}

.comunidad-subtitulo {
  margin-bottom: 18px;
}

.intro-form {
  width: 60%;
  margin: 0 auto;
}

.form-contacto {
  border: 1px solid #000;
  width: 35%;
  margin: 0 auto;
  padding: 25px 0;
}

.form-contacto div {
  margin: 12px 0;
}

.form-contacto div label {
  padding-right: 10px;
}

#label-mail {
  padding-right: 26px;
}

.button-form {
  padding: 7px 12px;
}

#comentario {
  resize: none;
}

.botton-email {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 300px;
  text-align: center;
}

/* .imagen-mail {
  margin: 15px auto;
  width: 450px;
} */

.imagen-mail img {
  object-fit: cover;
  width: 100%;
}

.texto-formulario {
  margin: auto;
}

.contenedor-formulario {
  margin-bottom: 5px;
}
.container-btn-unirse{
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Miembros*/

.titulo-miembros{
  margin-top: 1.5rem ;
}

.fondo-tarjeta{
 background: rgba(34, 125, 242, 0.2);
 position: absolute;
 border-radius: 20px;
 width: 430px;
 height: 730px;
 left: 45px;
 top: 220px;
}

/* Responsive: Sección comunidad */

@media all and (max-width: 1200px) {
  .comunidad-descripcion p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 992px) {
  .comunidad-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comunidad-imagen {
    order: 0;
    margin-bottom: 10%;
    width: 65%;
  }

  .comunidad-descripciones {
    order: 1;
    width: 100%;
    text-align: justify;
  }

  .comunidad-descripcion p {
    font-size: 1rem;
  }

  .comunidad-subtitulo {
    text-align: center;
  }

  .comunidad-btn {
    margin-top: 5%;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .comunidad-descripciones {
    width: 90%;
  }

  .contenedor-formulario {
    margin-top: 10%;
  }

  
}

@media all and (max-width: 580px) {
  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .texto-formulario {
    width: 90%;
    order: 1;
  }

  .imagen-mail {
    order: 0;
  }
}

@media all and (max-width: 500px){
  .container-btn-unirse{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .container-btn-unirse a{
    width: 60%;
  }
  
.background-overlay {
    padding: 80px 40px;
  }
}

